@font-face {
	font-family: 'product-sans';
	src: url(../src/assets/Product\ Sans\ Regular.ttf);
}
@font-face {
	font-family: 'product-sans';
	src: url(../src/assets/Product\ Sans\ Bold.ttf);
	font-weight: bold;
}
* {
	font-family: product-sans !important;
}
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #161616;
}

.jumbotron {
	background-image: url('./assets/bg-jumbotron.png');
	height: 500px;
	display: flex;
	flex-direction: column;
	text-shadow: 0px 0px 5px black;
	color: white;
	background-color: #3a3a3a;
	background-repeat: no-repeat;
}
.react-jinke-music-player-main .music-player-panel {
	background-color: #161616 !important;
}
.progress-bar {
	background-color: unset;
}
.rc-slider-track,
.rc-slider-handle {
	background-color: #ee4622 !important;
}
.audio-lists-btn,
.hide-panel {
	display: none !important;
}
.music-player-panel {
	padding: 15px;
}
.react-jinke-music-player-main svg:hover,
.react-jinke-music-player-main svg:active {
	color: #ee4622 !important;
}
.react-jinke-music-player-main .music-player-panel .panel-content .progress-bar-content .progress-bar {
	overflow: unset;
}
